name: CD

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "**.md"
      - "docs/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@v1

      - name: Deploy to Fly.io
        run: flyctl deploy --verbose
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
